[Desktop Entry]
Encoding=UTF-8
Name=Kaconnect
Comment=A frontend for the aconnect utility
Comment[pl]=Nakładka graficzna na aconnect
Exec=/usr/bin/kaconnect
Terminal=false
Type=Application
Categories=Application;AudioVideo;
